# Eclipse
.classpath
.project
.settings/
*.pydevproject
.idea/
.vscode/

# Maven
target/

# Gradle
.gradle/
build/

# Log files
*.log
log/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Class files
*.class

# ReSharper files
*.ReSharperReport.html

# Unit tests
*.suo
*.user
*.userosscache
*.sln.docstates
*.sdf
*.vssscc
*.buildscc
*.vshost

# Virtual environments
.venv/
venv/
env/
# Eclipse workspace metadata
.metadata/
.recommenders/

# Eclipse project files
.classpath
.project
.settings/

# VSCode
.vscode/

# Built output
bin/
target/
build/
*.class
*.jar
*.war
*.ear

# Log files
*.log
log/

# Package Files
*.zip
*.tar.gz
*.rar

# ReSharper files
*.ReSharperReport.html

# Unit tests
*.suo
*.user
*.userosscache
*.sln.docstates
*.sdf
*.vssscc
*.buildscc
*.vshost
